<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
    //document.getElementById("login").innerHTML  = "Please fill in all fields";
    
    
</script>

<link rel="stylesheet" type="text/css" href="myCSS.css">
</head>
<body>

<div class="header">
  <h1>Rockers Resource - Music Info Website</h1>
</div>

<div class="row">

  <div class="col-6 col-s-9">
    
    <h2>Login Page</h2>
    <div id = "login"></div>
        <!-- action="/sign-in" method="POST" -->
        <form id = "myForm" action="/sign-in" method="POST">
            <fieldset>
                <legend>Enter login details here</legend>
                <br>
                <input type ="text" size="20" placeholder="enter username" name="username" required/>
                <br>
                <input type = "password" size="20" placeholder="enter password" name="password" required/>
                <br>
                <input type="submit" value = "submit login details">
                <br>  
            </fieldset>
        </form>

  </div>

</div>

<div class="footer">
  <p>Web layout adapted from <a href = "https://www.w3schools.com/css/css_rwd_intro.asp" target="_blank">w3Schools.com</a></p>
  <p>Designed for Web Applications Project, Spring 2019 and repurposed for Data Representaion Big Project, Autumn 2019</p>
</div>

</body>

<script>

</script>

</html>